.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Oswald:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}

header {
  font-family: "Oswald";
  background-color: black;
}

li {
list-style: none;
color: rgb(37, 222, 151);
}

h1 {
  color: rgb(37, 222, 151);
text-decoration: none;
}

h3 {
  color: rgb(37, 222, 151);
text-decoration: none;
}

.container{
 max-width: 100;
 width: 90%;
 margin: 0 auto;
}

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size:xx-large;
}



.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: azure;
}

#banner-container {
  margin: 75px;
  max-width: 100%;
}

img {
  width: 1000px;
  height: 600px;
  border-radius: 115px;
 margin: 10px;
}

.slides {

  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width:768px){
  

  .menu {
    position: fixed;
    height: 520px;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 25%;
    text-align: center;
    transition: 0.3s;
    overflow-y: scroll;
  }
 .menu-item{
    margin: 12px 0;
  }
 .menu.active{
    right: 0;
  }
}

